
<div>
    <form asp-action="CreatePost" asp-controller="home" method="post">
        <div>
            <input type="text" name="Title" value="" class="input-group"/>
        </div>
        <div>
            <textarea type="text" name="Description" value="" class="input-group"></textarea>
        </div>
        <input type="submit" value="Create" class="btn btn-success"/>
    </form>
</div>
